body{
    font: 1em sans-serif;
    padding: 0px;
    margin: 0px;
    background-color: aliceblue;
}
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul{
    margin: 0%;
    padding: 0%;
}
header{
    background: cadetblue ;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: blue 30px solid;
}
header a {
    color: white;
    text-decoration: none;
    font-size: 19px;
}
header li{
     float: right;
     display: inline;
     padding: 0 20px  0 20px;
}
header #brand{
    float: right;
}
header #brand h1{
    margin:0px;
    color: blueviolet;
}
header nav{
    float: left;
    margin-top: 10px;
}
header .curent a {
color: blueviolet;
font-weight: bold;
}
header a:hover{
    color: white;
    font-weight: bold;
}
#css{
    min-height: 300px;
    background: url("../1731343413271.png") no-repeat center;
    background-size: cover;
}
img{
    width: 100%;
    height: 400px;
}
#newslettr{
    padding:15px;
    color:white;
    background:red;
}#newsletter h1{
    float: right;

}
#newsletter form{
    float: left;
    margin-top: 15px;
}
#newsletter input[type="email"]
{
    padding: 4px;
    height: 25px;
    width: 250px;
}
.button{
height: 38px;
background: white;
padding-left: 20px;
padding-right: 20px;
}
table{
    position: relative;
    right: 100px;
}
td{
    padding: 20px;
}
.box  img{
    height: 150px;
    width: 250px;
}
#boxes{
    margin-top: 20px;
}
#boxes .box
{
   
    text-align: center;
    width: 40%;
    padding: 10px;
}
footer
{ 
    padding: 20px;
    margin-top: 20px;
    color: white;
    background: blue;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
}

